<!DOCTYPE html>
<html lang="en">
<head>
 <title>{{title}}</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
      <img src="logo.png" width="145px" alt="Autonovest Logo" style="margin-top:5px">
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="#">Get Started</a></li>
          <li><a href="market">Market</a></li>
          <li><a href="faq">FAQ</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </div>

    </div>

  </nav>
<div class="container">
  <div class="page-header">
    <h1>Add Car</h1>
  </div>
<form action="/newcar" method="post" name="addcarform">
    <div class="col-md-6">

      <div class="input">
        <label for="name">Manufacturer</label>
        <input type="text" class="form-control" name="manuf" id="manuf">
      </div>
      <div class="input">
        <label for="name">Model</label>
        <input type="text" class="form-control" name="model" id="model">
      </div>
      <div class="input">
        <label for="name">Year of Manufacture</label>
        <input type="text" class="form-control" name="yr" id="yr">
      </div>
      <div class="input">
        <label for="name">Registered Number Plate</label>
        <input type="text" class="form-control" name="RegNumPlate" id="RegNumPlate" required>
      </div>
      <div class="input">
        <label for="name">Engine Number</label>
        <input type="text" class="form-control" name="engnum" id="engnum" required>
      </div>
      <div class="input">
        <label for="name">Description</label>
        <input type="text" class="form-control" name="descrip" id="descrip">
      </div>
      <div class="input">
        <label for="name" id="tv">Total Value</label>
        <input type="number" class="form-control" name="val" id="val" required>
      </div>
      <br/>

    </div>
    <div class="col-md-6">
      <br/>
      <span class="btn btn-default btn-file "> Upload Picture <input type="file" name="file">
      </span>
    </div>
    <div>

    </div>
    <div class="col-md-8">
    <br/>

    <button type="submit" name="send" class="btn btn-success" id="subbtn" >Add Car</button>

  </div>
  </form>
</div>
</body>
</html>
