<!DOCTYPE html>
<html lang="en">
<head>
 <title>{{title}}</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-header">
        <img src="logo.png" width="145px" alt="Autonovest Logo" style="margin-top:5px">
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">

        </ul>
      </div>

    </div>

  </nav>
  <div class="container">
  <div class="page-header">
    <h1>Admin Dashboard</h1>
  </div>
  <div class="col-md-6">
    <h2>Overview</h2>

    <div class="col-md-6">
      <h3>Active Investments</h3>
      <p>{{actinvst}}</p>

      <h3>Functioning Cars</h3>
      <p>{{funccars}}</p>

      <h3>Total Volume (Ether)</h3>
      <p>{{totalvol}}</p>

    </div>
  </div>
  <div class="col-md-6">
    <h2>Manage</h2>

    <div class="col-md-3">
      <script>
      function showcarform(){
        window.location.href = "/addcar";
      }
      </script>
      <button type="button" onclick="showcarform()" name="addcar" title="Add Car" style="width:150px">ADD CAR</button>

    </div>
  </div>
  <div class="col-md-12">
    <hr>
  <div id="carsRow" class="row">
  </div>

              <div id="carTemplate" style="display: none;">
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="panel panel-default panel-pet">
                    <div class="panel-heading">

                      <h3 class="panel-title">Car</h3>
                    </div>
                    <div class="panel-body">

                      <img alt="140x140" data-src="holder.js/140x140" class="img-rounded img-center" style="width: 100%; " data-holder-rendered="true">

                      <br/><br/>


                      <strong>Engine Number</strong>:<span class="car-EngineNumber">Unknown</span><br/>
                      <strong>Status</strong>: <span class="car-act">Unknown</span><br/>
                      <strong>Funding Status</strong>: <span class="car-sts">Unknown</span><br/><br/>
                      <button class="btn btn-default btn-md" type="">Details</button>
                      <button class="btn btn-primary btn-dist" type="">Distribute Income</button>

                    </div>

                  </div>

                </div>

              </div>

</div>

  <script src="other/admin.js"></script>
</body>
</html>
